<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <link rel="stylesheet" href="pages/style.css">
    <link rel="stylesheet" href="particle.css">
    <title>SPACE BLOCKS</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg  bg-black fixed-top" style="background-color:black;">
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color: white">
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="register.html" style="text-decoration: none"> <button class="top my-btn"><i
                                class="fas fa-user-plus"></i>Sign Up </button></a>
                </li>
                <li class="nav-item">
                    <a href="login.html" style="text-decoration: none"><button class="top my-btn"><i
                                class="fas fa-sign-in-alt"></i>Login</button></a>
                </li>
            </ul>

        </div>
    </nav>
    <div class='wrap'>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>

    </div>
    <div class="main-text hidden-xs">
        <div id="sh" class="col-md-12 text-center">
            <h1 style="display:none" class="show display-3" style="letter-spacing: 2px ">
                SPACE BLOCKS
            </h1>
            <button style="display:none" data-toggle="modal" data-target="#form" class="show button button1" style="position:absolute;left:45%;top:330px">Let's Get
                Started !</button>

        </div>
    </div>


    <!-- <div id="mydiv">


            <div class="row"> -->
                <!-- <div class="col-md-8">
                    <div class="wrap1">
                        <div class="search">
                            <input type="text" class="searchTerm" placeholder="What are you looking for?">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <br> -->
            
                
                <!-- <div class="col-md-4">
                        <div class="text-center container">
                                <button type="button" class=" text-center btn btn-danger" data-toggle="modal" data-target="#form">
                                    Enter Data
                                </button>
                            </div>
                </div>
            </div>
            
            </div> -->
        


        <div class="row">
            <div class="modal" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <h5 class="modal-title" id="exampleModalLabel">Enter Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="/add">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="email1">Title</label>
                                    <input type="text" name="title" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Title of Project">
                                </div>
                                <div class="form-group">
                                    <label for="password1">Description</label>
                                    <input type="text" name="desc" class="form-control" id="password1" placeholder="Description">
                                </div>
                                <div class="form-group">
                                    <label for="price">Data</label>
                                  <textarea class="form-control"  name="data" id="" cols="30" rows="10"></textarea>
                                </div>
                                <div class="form-group">
                                        <label for="price">Coins</label>
                                        <input type="number" name="coins" class="form-control" id="password1" placeholder="Coins">
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="password1">Upload you file</label>
                                <input type="file" name="file" class="form-control" id="password1" placeholder="Upload File">
                            </div>
                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success">Submit</input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <input type="file" name="myfile" /> -->
        </div>
    




    </div>







    <script type="text/javascript">

        function move() {



            $('html,body').animate({
                scrollTop: $("#" + "mydiv").offset().top
            }, 'slow');

        }

    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

        <script>
        
        setTimeout(()=>{
            $(".show").fadeIn(5000);

        },7000)
        
        
        </script>

</body>

</html>